@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Monitor da COVID-19</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-bordered table-striped mb-0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">País</th>
      <th scope="col">Casos Confirmados</th>
      <th scope="col">Mortes</th>
      <th scope="col">Recuperados</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var i in (List<InfeccaoModel>)ViewData["Infeccoes"])
    {
    <tr>
      <th scope="row">@i.InfeccaoId</th>
      <td>
        <a href="https://www.google.com/search?channel=fs&q=@i.Pais.Nome+covid+19&ie=utf-8&oe=utf-8">
        @i.Pais.Nome
        </a>
      </td>
      <td>@i.CasosConfirmados</td>
      <td>@i.Mortes</td>
      <td>@i.Recuperados</td>
    </tr>
    }
  </tbody>
</table>